{
  "plugins": ["prettier-plugin-tailwindcss"],
  "trailingComma": "all",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "printWidth": 80,
  "singleQuote": true,
  "tailwindFunctions": ["cva", "cx"]
}
